.finance-wrapper {
  padding: 28px 48px;
  background-color: #EFF2F4;
}

.business-analysts {}

.business-analysts__title {
  margin-bottom: 35px;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.business-analysts__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.business-analysts__card-container {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: #FFF;
  // overflow: hidden;

  &.card-border {
    border: 5px solid #333;
    border-radius: 30px;
  }
}

.business-analysts__card-star {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.business-analysts__card-fiol-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  background-color: #9C52E1;
  border-radius: 24px;
  z-index: 3;
}

.business-analysts__card-black-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  background-color: #333;
  border-radius: 24px;
  z-index: 2;
}

.business-analysts__card-yellow-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  background-color: #F2C94C;
  border-radius: 24px;
  z-index: 1;
}

.business-analysts__card {
  display: grid;
  min-width: 152px;
  z-index: 4;
  // height: 284px;
  padding: 32px 0 22px;

  border-radius: 24px;
  // background-color: #FFF;

  &.white-color * {
    color: #fff !important;
  }
}

.business-analysts__card-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 68px;
  height: 68px;
  padding: 0 24px;
  margin-bottom: 28px;
  border-radius: 100%;
  background-color: #fff;

  text-align: center;

  img {
    width: 64px;
    height: 64px;
  }
}

.business-analysts__card-info {
  padding: 0 24px;
}

.business-analysts__card-name {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.business-analysts__card-sums {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
  margin-bottom: 20px;

  color: #333;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.business-analysts__card-sum {

  &:first-child {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: #333;
  }

  &:last-child {
    color: #333;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.4;
  }
}

.business-analysts__card-sum-border {}

.business-analysts__card-percent {
  margin-bottom: 40px;
  text-align: center;
  color: #333;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  span {
    color: #333;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.4;
  }
}

.business-analysts__card-footer {
  padding: 0 24px;
}

.business-analysts__card-line {
  display: flex;
  align-items: center;
  width: 100%;
  height: 12px;
  padding: 2px;
  border-radius: 6px;
  opacity: 0.9;
  background: #444;
}

.business-analysts__card-line-inner {
  height: 100%;
  border-radius: 6px;
  background: #F2C94C;
}









/*//////////////////////////////////////////////////////////*/

.info-projects {
  padding: 32px;
  border-radius: 24px;
  background-color: #333;
}

.info-projects__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.info-projects__item {
  display: grid;
  grid-template-columns: 100px 100px 1fr;
  column-gap: 64px;
}

.info-projects__date {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 90%;
  color: #FFF;
}

.info-projects__sum {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  color: #FFF;
}

.info-projects__descr {
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.business-analysts__card-header {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 70px;
}

.business-analysts__card-sums-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 10px;

  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: #333;



  .business-analysts__card-sums {
    margin-bottom: 0;
  }
}

.business-analysts__card-sums-text {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: flex-start;

  &>span {
    opacity: 0.4;
  }

  &:nth-child(2) {
    .business-analysts__card-sums {
      margin-left: auto;
    }
  }


}

.business-analysts__card-line+.business-analysts__card-sums-container {
  margin-top: 28px;
}

.grid-column-2 {
  grid-column: span 2;
}